/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --border-color: #a8eb12;
}

html {
    font-size: 62.5%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-image: url(../img/32565304-galaxie-colorful-stars-texture-fond-seamless-pattern-.webp);
}

/* animation */

@-webkit-keyframes rotate_abs {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate_abs {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ani {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ani {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Portfolio */

.portfolio {
    background-color: #21d4fd;
    background-image: -o-radial-gradient(circle, #1b2432, #003444, #004444, #005230, #435a0e);
    background-image: radial-gradient(circle, #1b2432, #003444, #004444, #005230, #435a0e);
    width: 400px;
    height: 600px;
    border-radius: 16px;
    position: relative;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* animation border */

.portfolio::before {
    border-radius: 16px;
    content: "";
    position: absolute;
    width: 400px;
    height: 600px;
    top: -50%;
    left: -50%;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(transparent),
        color-stop(var(--border-color)),
        to(var(--border-color))
    );
    background: -o-linear-gradient(bottom, transparent, var(--border-color), var(--border-color));
    background: linear-gradient(0deg, transparent, var(--border-color), var(--border-color));
    -webkit-animation: rotate_abs 6s linear infinite;
    animation: rotate_abs 6s linear infinite;
}

.portfolio::after {
    border-radius: 16px;
    content: "";
    position: absolute;
    width: 400px;
    height: 600px;
    top: -50%;
    left: -50%;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(transparent),
        color-stop(var(--border-color)),
        to(var(--border-color))
    );
    background: -o-linear-gradient(bottom, transparent, var(--border-color), var(--border-color));
    background: linear-gradient(0deg, transparent, var(--border-color), var(--border-color));
    -webkit-animation: rotate_abs 6s linear infinite;
    animation: rotate_abs 6s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}

.portfolio-box {
    inset: 2px;
    /* background: #000; */
    background-image: -o-radial-gradient(circle, #1b2432, #003444, #004444, #005230, #435a0e);
    background-image: radial-gradient(circle, #1b2432, #003444, #004444, #005230, #435a0e);
    border-radius: 16px;
    z-index: 10;
    position: absolute;
}

/* body Portfolio*/

.portfolio__top,
.portfolio__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.portfolio__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #1fa221;
    margin-top: 30px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.portfolio__img img {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -o-object-fit: cover;
    object-fit: cover;
}

.portfolio__info {
    margin-top: 30px;
    text-align: center;
    position: relative;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.info__desc::after {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    position: relative;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    width: 0;
    bottom: -10px;
    background-color: var(--border-color);
}

.info__title {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 0;
    position: relative;
    right: 0;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.info__desc {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 0;
    position: relative;
    right: 0;
    margin-top: 16px;
    font-size: 2rem;
    color: #fff;
}

/* Active On */

.active .portfolio__img {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transform: translate(-100px, -30px);
    -ms-transform: translate(-100px, -30px);
    transform: translate(-100px, -30px);
    width: 150px;
    height: 150px;
}

.active .portfolio__img img {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;

    -webkit-transform: rotate(360deg);

    -ms-transform: rotate(360deg);

    transform: rotate(360deg);
}

.active .info__title {
    position: relative;
    font-size: 2.5rem;
    top: -180px;
    right: -80px;
}

.info__title::before {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative;
    content: "";
    display: block;
    height: 3px;
    width: 0;
    bottom: 6px;
    background-color: var(--border-color);
}

.active .info__title::before {
    -webkit-transition: 3s ease;
    -o-transition: 3s ease;
    transition: 3s ease;
    position: relative;
    content: "";
    display: block;
    height: 3px;
    width: 10%;
    bottom: 6px;
    background-color: var(--border-color);
}

.active .info__desc {
    position: relative;
    font-size: 1.5rem;
    top: -180px;
    right: -80px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: inline-block;
}

.active .info__desc::after {
    -webkit-transition: 3s ease;
    -o-transition: 3s ease;
    transition: 3s ease;
    position: relative;
    content: "";
    display: block;
    border-bottom: 1px;
    left: 0px;
    width: 100%;
    bottom: -10px;
    background-color: var(--border-color);
}

/* skill */

.portfolio__skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: none;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.portfolio__skill p {
    font-weight: 700;
}

.portfolio__skill p::after {
    position: relative;
    content: "";
    display: block;
    height: 3px;
    width: 40%;
    bottom: -6px;
    background-color: var(--border-color);
}

.portfolio__skill-item {
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;

    padding: 5px 7px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.portfolio__skill-item:hover {
    background-color: #000;
    color: #fff;
}

/* Active On */

.active .portfolio__skill {
    position: relative;
    top: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
}

/* bottom */

.portfolio__bottom {
    padding-top: 0;
}

.Portfolio__about p {
    display: inline;
}
.Portfolio__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about__button {
    z-index: 1;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    padding: 16px 36px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f6d365),
        color-stop(51%, #fda085),
        to(#f6d365)
    );
    background-image: -o-linear-gradient(left, #f6d365 0%, #fda085 51%, #f6d365 100%);
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    background-size: 200% auto;
    border-radius: 6px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
    margin-top: 20px;
}

.about__button:hover {
    background-position: right center;
}

.about__abs {
    position: absolute;
    width: 400px;
    padding: 20px;
    color: #fff;
    border-radius: 16px;
    bottom: -10%;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: #74ebd5;
    opacity: 0;
    visibility: hidden;
    background-image: -o-radial-gradient(circle, #1b2432, #003444, #004444, #005230, #435a0e);
    background-image: radial-gradient(circle, #1b2432, #003444, #004444, #005230, #435a0e);
}

.about__abs .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about__dob {
    margin-bottom: 10px;
}

.about__abs .info strong {
    font-weight: 600;
    width: 30px;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: auto;
}

.about__abs .info p {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    line-height: 1.4;
    margin-left: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.about__close {
    float: right;
    cursor: pointer;
}

/* Active On */

.portfolio.active {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#1b2432),
        color-stop(#003444),
        color-stop(#004444),
        color-stop(#005230),
        to(#435a0e)
    );
    background-image: -o-linear-gradient(bottom, #1b2432, #003444, #004444, #005230, #435a0e);
    background-image: linear-gradient(to top, #1b2432, #003444, #004444, #005230, #435a0e);
}

.about__abs.active {
    opacity: 1;
    bottom: 0;
    visibility: visible;
}

.about__button.active {
    visibility: hidden;
    opacity: 0;
    margin-top: 50px;
}
/* contact */

.portfolio__contact {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-top: 46px;
    position: relative;
}

.portfolio__social {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 30px;
    bottom: 0;
}
.portfolio__icon {
    text-align: center;
    padding: 14px;
    background-color: transparent;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 7px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.portfolio__icon span {
    position: absolute;
    font-size: 1.4rem;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 8px;
    background: #000;
    border-radius: 4px;
    min-width: 84px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.portfolio__icon span::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    border: 6px solid transparent;
    border-color: #000 transparent transparent;
}

.portfolio__icon:hover span {
    visibility: visible;
    opacity: 1;
    scale: 1;
}

.portfolio__icon:hover {
    background-color: var(--color-icon);
}

.portfolio__img img:hover {
    -webkit-animation: ani 5s linear infinite;
    animation: ani 5s linear infinite;
}

/* Active On */

.portfolio__contact.active .portfolio__social {
    position: relative;
    top: -230px;
}
